:root{
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 61%, 59%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsla(0, 0%, 100%,0.9);

}
.attribution {
    font-size: 11px;
    text-align: center;
    display: none;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  *{
    box-sizing: border-box;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
  }
  header{
    text-align: center;
    height:40vh;
    padding:1rem;
    background-image: url("images/bg-pattern-top-mobile.svg");
    background-size: cover;
  }
  header h2{
    margin-top: 1em;
    padding: 25px 50px;
    color: var(--Very-Dark-Magenta);
  }
  header p{
    line-height: 1.6;
    color: var(--Dark-Grayish-Magenta);
  }
  #rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
  #rating div{
    width: 80vw;
    height: 60px;
    text-align: center;
    padding: 8px;
    row-gap: 10px;
    border-radius: 0.5rem;
    background-color: var(--Light-Grayish-Magenta);
  }
  #rating div img{
    margin-bottom: 10px;
  }
  #rating div b{
    color: var(--Very-Dark-Magenta);
    font-size: small;
  }
  .card{
    width: 80vw;
    margin: 15px auto;
    padding:1.7rem;
    background-color: var(--Very-Dark-Magenta);
    color: var(--White);
    border-radius: 0.5rem;
  }
  .card>div{
    display: flex;
    justify-content: left;
  }
  .card div img{
    border-radius: 50%;
    width:2rem;
  }
  .card div div{
    margin: auto 10px;
    font-size: smaller;
  }
  .card>p{
    line-height: 1.3;
    margin-top: 1.3rem;
    font-size: small;
  }
  .card div p{
    color: var(--Soft-Pink);
    margin-top: 5px;
  }
  #foot{
    background-image: url("images/bg-pattern-bottom-mobile.svg");
    background-size: cover;
  }
  @media screen and (min-width:650px){
   #top{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   header{
    width:50vw;
   }
   #rating{
    width:50vw;
    display: flex;
    flex-direction: column;
   }
   #rating div{
    width: 90%;
   }
   #foot{
    height: 50vh;
    position:relative;
    margin-bottom: 0;

   }
   .card{
    margin: 0 auto;
   }
   .lftcrd{
    position:absolute;
    left:0;
    width:30vw;
    
   }
   .ctrcrd{
    width:30vw;
    position:absolute;
    left:35%;
    top:25%;
    margin:0 auto;
   }
   .rytcrd{
    position:absolute;
    right:0;
    bottom: 0;
    width:30vw;
   }
  }
   @media screen and (min-width:1225px){    
    header{
      height:46vh;
      background-image: url("images/bg-pattern-top-desktop.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
    header h2{
      font-size: 3rem;
      padding: 40px 100px;
      margin: 0;
    }
    header p{
      width:60%;
      margin: 0 auto;
    }
    #rating{
      width:50vw;
      position:relative;
      height:46vh;
     }
     #rating div{
      width: 70%;
      height:50px;
      position:absolute;
      display: flex;
      justify-content: center;
      align-items: center;
     }
     #rating div img{
      width:15px;
      margin: auto 3px;
     }
     #rating div b{
      margin-left: 10px;
     }
     .lft{
      left: 20px;
      top:55px;
      width: 100%;
     }
     .cnt{
      left:60px;
      top:130px;
     }
     .ryt{
      right: 50px;
      bottom: 35px;
     }
    #foot{
      height: 47vh;
      position:relative;
      margin-bottom: 0;
      background-image: url("images/bg-pattern-bottom-desktop.svg");
      background-size: cover;
     }
     .card{
      margin: 0 auto;
     }
     .lftcrd{
      position:absolute;
      left:13%;
      top:7%;
      width:25vw;
     }
     .ctrcrd{
      width:25vw;
      position:absolute;
      left:40%;
      top:15%;
      margin:0 auto;
     }
     .rytcrd{
      position:absolute;
      right:94px;
      bottom: 42px;
      width:25vw;
     }
  }